body {
  background-color: black
}

h2 {
  color:white;
  text-align: justify;
  font-family: sans-serif;
  width: 100%;
}


.bounce {
 height: 100px;  
 overflow: show;
 position: relative;
 background: black;
 color: transparent;
 border: none;
}
.bounce div {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 100px;
 text-align: justify;

 /* Starting position */
 -moz-transform:translateX(50%);
 -webkit-transform:translateX(50%); 
 transform:translateX(50%);

 /* Apply animation to this element */  
 -moz-animation: bouncing-text 10s linear infinite alternate;
 -webkit-animation: bouncing-text 10s linear infinite alternate;
 animation: bouncing-text 10s linear infinite alternate;
}
/* Move it (define the animation) */
@-moz-keyframes bouncing-text {
 0%   { -moz-transform: translateX(50%); }
 100% { -moz-transform: translateX(-50%); }
}
@-webkit-keyframes bouncing-text {
 0%   { -webkit-transform: translateX(50%); }
 100% { -webkit-transform: translateX(-50%); }
}
@keyframes bouncing-text {
 0%   { 
 -moz-transform: translateX(50%); /* Browser bug fix */
 -webkit-transform: translateX(50%); /* Browser bug fix */
 transform: translateX(50%);        
 }
 100% { 
 -moz-transform: translateX(-50%); /* Browser bug fix */
 -webkit-transform: translateX(-50%); /* Browser bug fix */
 transform: translateX(-50%); 
 }
}

.story-section{
  background-color: black;
  font-family: sans-serif;;
}

.story {
  font-size:70px;
  margin-top:5px;
  color:black;
}

.marked {
  background-color: white;
  color: black;
}

.markedtale {
  background-color: blue;
  color: white;
}




